doctype html
html.loading
  head
    meta(charset='utf-8')
    title Robot
    
    script(src='http://code.jquery.com/jquery.min.js')
    script(src='node_modules/eagle/build/eagle.js')
    script(src='www/scripts/index.js')
    
    link(href='www/styles/main.css', rel='stylesheet')
  
  body
    h1 Robot
    
    #status
      | OK
      
    pre
      | OK
    
    #loader
